* {
  /* border-top: 5px solid #1098ad; */
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 5px solid #1098ad;
  position: relative;
}
h1,
h2,
h3,
h4,
p li {
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: #1098ad;
}
h2 {
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
  /* display: inline; */
}
li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}
li:last-child {
  margin-bottom: 0;
}
footer p {
  font-size: 16px;
}
/* 
article header p {
  font-style: italic;
} */
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
/* 
ul {
  list-style: none;
} */

.related {
  list-style: none;
}

nav {
  font-size: 18px;
  /* text-align: center; */
}
article {
  margin-bottom: 60px;
}

.main-header {
  background-color: #f7f7f7;
  /* background-color: red; */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
  /* top bottom 20px  */
  /* left right 20px */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #109ead;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}
/* body {
  background-color: orangered;
}
 */
/* .first-li {
  font-weight: bold;
}
 

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
li:nth-child(odd) {
  color: red;
}
li:nth-child(even) {
  color: green;
}
/* 
Misconception this won't work
article p:last-child {
  color: red;
}
 */

/* Styles links */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
}
/* LVHA */

/* Resolving Conflicting Declarations */
#copyright {
  color: red;
}
.copyright {
  color: blue;
}
.text {
  color: yellow;
}
ul,
ol {
  margin-left: 50px;
}
/* !Important */
/* footer p {
  color: green !important;
}
 */

/* nav a:link,
nav p {
  font-size: 18px;
}
 */

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}
.post-img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* position: relative; */
}

nav a:link:last-child {
  margin-right: 0;
}
button {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 50px;
  bottom: 50px;
}
h1 ::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h3 + p::first-line {
  /* color: red; */
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
  color: #444;
}
nav a:link {
  /*   background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block; */
  margin-right: 20px;
  margin-top: 10px;
  display: inline-block;
}
.main-header nav a:link {
  /* color: red; */
  /* margin-top: 100px; */

  /* this margintop will be apply because complex selectors has more priority */
}
/* FLOATS  */
.author-img {
  float: left;
}
.author {
  /* padding-left: 80px; */
  padding-top: 10px;
  float: left;
  margin-left: 20px;
}
h1 {
  float: left;
}
nav {
  float: right;
}
.clear {
  clear: both;
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  /* background-color: green; */
  width: 825px;
  float: left;
}
aside {
  /* background-color: red; */
  width: 300px;
  float: right;
}
footer {
  /* background-color: yellow; */
  clear: both;
}
